.class
.metadata/*
.recommenders/*
EJB/*/.classpath
EJB/SuperDiaWeb/.classpath
EJB/*/build/
RemoteSystemsTempFiles/.project
*.classpath
EJB/SuperDiaWeb/.classpath
*.prefs
EJB/*/bin/

EJB/SuperDiaEJB/.classpath

desktop/.classpath

EJB/SuperDiaEJB/.classpath
