desktop/.classpath
EJB/SuperDiaRestFul/.classpath
EJB/SuperDiaEJB/.classpath
EJB/SuperDiaEJBClient/.classpath
EJB/SuperDiaWeb/.classpath
**.classpath
.class
.metadata/*
.recommenders/*
EJB/**/.classpath
EJB/*/build/
RemoteSystemsTempFiles/.project
*.prefs
EJB/*/bin/
