@CHARSET "UTF-8";

.body{
	padding: 25px;	
	padding-top: 0;	
}

table{
	text-align: center;
}

icon{
	margin :10px;
}

.sorting{
	text-align: center;
}

.loginout{
	float: right;
	padding-right: 25px;
}

.tema{
	background-color: #149c82;
}

.botaoVerde{
	background-color: #3be6c4;
	color: #ecf0f1;
	border-radius: 4px;
    border-radius: 4px;
    border-color: transparent;
    padding: 10px 15px;
    line-height: 1.428571429;
    text-decoration: none;
    margin-right: 20px;
}

.total{
	width: 200px;
	font-size: 30px;
	text-align: right;
}

.perfil{
	width: 30%;
}