@CHARSET "UTF-8";

.body{
	padding: 25px;	
	padding-top: 0;	
}

table{
	text-align: center;
}

icon{
	margin :10px;
}

.sorting{
	text-align: center;
}

.loginout{
	float: right;
}

.tema{
	background-color: #149c82;
}